<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>TripWay: multiplayer educational travel game</title>
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <link rel="shortcut icon" href="img/favicon.ico">
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/icon-font.css">
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>

        <div class="page-wrapper">
        {% block content %}{% endblock %}
            <header class="header v-center bg-midnight-blue">
                <div class="background">
                    &nbsp;
                </div>
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="hero-unit">
                                    <h1>TripWay</h1>
                                    <p>
                                        Multiplayer educational travel game
                                    </p>
                                </div>
                                <div class="btns">
                                    <a class="btn btn-hg btn-inverse" href="#">Start game</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>


          <section class="contacts">
            <div class="container">
              <div class="content">
                <div class="social-btns">
                  <a href="https://twitter.com/piplosmedia">
                    <div class="fui-twitter"></div>
                    <div class="fui-twitter"></div>
                  </a>
                  <a href="https://www.facebook.com/piplos">
                    <div class="fui-facebook"></div>
                    <div class="fui-facebook"></div>
                  </a>
                </div>
                <h3>Get in touch with us</h3>
                <div class="links">
                  <a href="mailto:info@piplos.by">info@piplos.by</a>
                </div>
              </div>
            </div>
          </section>


        </div>
        <script src="js/jquery-1.10.2.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/modernizr.custom.js"></script>
        <script src="js/jquery.parallax.min.js"></script>
        <script src="js/startup-kit.js"></script>
        <script src="js/script.js"></script>
        <script type="text/javascript">(function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter27389819 = new Ya.Metrika({id:27389819, webvisor:true, clickmap:true, trackLinks:true, accurateTrackBounce:true}); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks");</script><noscript><div><img src="//mc.yandex.ru/watch/27389819" style="position:absolute; left:-9999px;" alt="" /></div></noscript>    
    </body>
</html>